@use "../include/colors";
@use "../include/fonts";
@use "../include/utils";

nav {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid colors.$text-disabled;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div#title {
    font-size: 1.15rem;
    @include utils.no-select();

    p {
      margin: 0;

      &.heading {
        font-weight: 500;
        font-size: fonts.$font-size-xl;
        color: colors.$text-high-emphasis;
      }
      &.description {
        color: colors.$text-medium-emphasis;
        font-size: fonts.$font-size-lg;
      }
    }
  }

  div#buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    @include utils.no-select();

    div#github {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 0.1px solid colors.$text-disabled;
      border-radius: 0.3rem;
      box-shadow: 0.5px 1px 1px colors.$text-disabled;

      svg {
        height: 2rem;
        width: 2rem;
        margin: 0 0.3rem;
        fill: colors.$text-high-emphasis;
      }

      &:hover {
        cursor: pointer;
      }

      &:active {
        box-shadow: -0.5px -0.5px 0.5px colors.$text-disabled;
      }
    }

    div#qrcode {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border: 0.1px solid colors.$text-disabled;
      border-radius: 0.3rem;
      box-shadow: 0.5px 1px 1px colors.$text-disabled;

      svg {
        height: 2rem;
        width: 2rem;
        margin: 0 0.3rem;
        fill: colors.$text-high-emphasis;
      }

      &:hover {
        cursor: pointer;
      }

      &:active {
        box-shadow: -0.5px -0.5px 0.5px colors.$text-disabled;
      }
    }
  }
}
