@use "../include/colors";
@use "../include/utils";

div#tools {
  display: flex;
  margin: 1rem 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  gap: 0.5rem;

  div#refresh-btn {
    cursor: pointer;
    border: 1px solid colors.$text-disabled;
    color: colors.$text-high-emphasis;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    height: 2rem;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    @include utils.no-select();

    svg {
      fill: colors.$text-high-emphasis;
      height: inherit;
      width: 1rem;
    }

    @media (max-width: 400px) {
      div {
        display: none;
      }
    }
  }

  div#search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;

    svg {
      position: absolute;
      height: 1rem;
      width: 1rem;
      margin-left: 0.6rem;
      fill: colors.$text-high-emphasis;
    }

    input {
      outline: none;
      height: 2rem;
      border-radius: 0.5rem;
      width: 15rem;
      padding-left: 2rem;
      font-size: 1rem;
      background-color: colors.$bg-main;
      border: 1px solid colors.$text-disabled;
      color: colors.$text-high-emphasis;
    }
  }
}
